body {
  margin: 0;
  padding: 0;
  font-family: "Proza Libre", sans-serif;
}

header {
  background: #333;
  height: 15vh;
  display: flex;

  ul {
    display: flex;
    width: 40%;
    justify-self: flex-end;
    margin-left: auto;
    list-style: none;

    li {
      padding: 1rem;

      a {
        text-decoration: none;
        font-weight: 700;
        color: #fff;

        &:hover {
          color: rgb(158, 180, 61);
        }
      }
    }
  }
}

.showcase {
  height: 85vh;
  width: 100%;
  position: relative;

  .bg-img {
    background: url(../img/showcase.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
  }

  .showcase-text {
    position: absolute;
    top: 5%;
    left: 25%;
    z-index: 2;
    color: #fff;
    width: 40%;
  }
}
